._text{
    color: rgb(181, 200, 217);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table{
    border-radius: 2px;
    border-collapse: collapse;

}
._head{
    background-color: rgba(63, 22, 114, 0.494);
}
._tab{
    background-color: rgba(18, 16, 18, 0.44);
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

._solde{
    background-color: rgba(124, 118, 132, 0.148);
}
._bg{
    background-color: rgba(152, 14, 101, 0.523);
}